# Pandas conmigo

### Hecho por:  
- Yael Badillo

### Objetivo:
Al terminar éste Notebook, sabrás:
- Qué es Pandas y qué es lo que nos ofrece
- Instanciar Series 
- Instanciar Series apartir de Estructuras de Datos nativas de Python
- Selecciar datos de una Series
- Conocer los miembros iloc y loc para seleccionar datos

## Pandas

Pandas es una librería de Python muy usada en el mundo de las Ciencias de Datos. Dicha librería está contruida sobre Numpy, y nos ofrece dos estructuras de datos: el **DataFrame** y las **Series** para el análisis y la manipulación de datos.
  
Importamos Pandas:

In [1]:
import pandas as pd

Usamos el **import** como lo usamos para importar cualquier librería Python, y, usamos el alias **pd**, esto por convención y para perder menos tiempo tecleando pandas.  
  
Ahora sí, podemos gozar del poder de Pandas.

## Series

Una **Series** es una estructura de datos de **una sola dimensión** que puede contener cualquier tipo de dato, pero éstos deben ser homogéneo, es decir, todos los datos de una Serie deben ser del mismo tipo. Donde a cada dato (conocido en Pandas como **entrada** o en inglés como **entry**) le corresponde un indetificador (conocido como **etiqueta** y en inglés como **label**).
  
De ésta forma instanciamos una Series:

In [2]:
s = pd.Series(dtype=int)

In [3]:
s

Series([], dtype: int64)

Nuestra Series está vacía. Lo único que hicimos fue pasarle como argumento **int** al parámetro **dtype**; que es el tipo de dato que queremos que maneje dicha Series. Pero... ¿Por qué nuestra instancia dice que es de tipo **int64**. si le pasamos un tipo **int**? Recordemos que Pandas está contruido sobre Numpy, por ello, los tipos de datos que usan las **Series** y los **DataFrames** son los *data types* o **dtypes** que provee Numpy.  
  
También podemos específicar el tipo de dato *dtype* como **'int64'** (con comillas simples o dobles).

In [4]:
s = pd.Series(dtype='int64')

In [5]:
s

Series([], dtype: int64)

Así pasemos como argumento **int** o **'int64'**, **pd.Series()** lo interpretará como un *dtype* int de 64 bits. Ésto es igual para el tipo de dato **float**, será interpretado como un *dtype* float de 64 bits.  
  
Para las cadenas de carácteres, el tipo de dato *dtype* es **object**, a diferencia de Python nativo donde es **str**. Object puede ser, también, cualquier tipo de objeto Python. Ésto no es para nada recomendable, pues puede afectar el funcionamiento de Pandas.

In [6]:
s = pd.Series(dtype='object')

In [7]:
s

Series([], dtype: object)

### Crear Series con estructuras de datos nativas

Ya vimos como instanciar Series vacías. Ahora veamos como instanciar Series con datos a través de estructuras de datos nativas de Python.

### - Con listas

In [8]:
nombres = ['Paquito', 'Pablito', 'Menganito', 'Lucía', 'Laura']

In [9]:
s = pd.Series(nombres)

In [10]:
s

0      Paquito
1      Pablito
2    Menganito
3        Lucía
4        Laura
dtype: object

Vemos que no fué necesario especificar el tipo de dato en nuestra Series, el interprete ya lo deduce en automático. Y podemos observar que es de tipo objecto, o sea string en éste caso.

pd.Series() contiene varios parametros. Uno de ellos bastante útil, es: **index**, el cual recibe como argumento una lista o tupla con las etiquetas para cada entrada de la Serie.

In [11]:
indices = (10, 9, 8, 7, 6)

In [12]:
indices

(10, 9, 8, 7, 6)

In [13]:
s = pd.Series(nombres, index=indices)

In [14]:
s

10      Paquito
9       Pablito
8     Menganito
7         Lucía
6         Laura
dtype: object

Los etiquetas no pueden ser solamente numéricas, de hecho, pueden ser de cualquier tipo. Veamos:

In [15]:
indices = ['A', 'B', 'C', 'D', 'E']

In [16]:
s = pd.Series(nombres, index=indices)

In [17]:
s

A      Paquito
B      Pablito
C    Menganito
D        Lucía
E        Laura
dtype: object

### - Con tuplas

Crear Series con tuplas no cambia nada en absoluto en como lo hacemos con las listas.

In [18]:
nombres = ('Paquito', 'Pablito', 'Menganito', 'Lucía', 'Laura')

In [19]:
s = pd.Series(nombres)

In [20]:
s

0      Paquito
1      Pablito
2    Menganito
3        Lucía
4        Laura
dtype: object

### - Con diccionarios

In [21]:
d = {
    'A': 'Paquito',
    'B': 'Pablito',
    'C': 'Menganito',
    'D': 'Lucía',
    'E': 'Laura'
}

In [22]:
s = pd.Series(d)

In [23]:
s

A      Paquito
B      Pablito
C    Menganito
D        Lucía
E        Laura
dtype: object

## Selección de datos con Series

Con fines ilustrativos, cambiaremos el índice de la Series pasada por enteros.

In [24]:
s.index = [i for i in range(5)]

In [25]:
s

0      Paquito
1      Pablito
2    Menganito
3        Lucía
4        Laura
dtype: object

**NOTA:** index es un miembro del objeto Series, y podemos acceder a él en cualquier momento, ya sea para modificarlo o sólo para obtener los valores del índice.

Al igual que en Python nativo; las Series cuentan con el mismo método de selección de datos. Veamos:

In [26]:
s[3]

'Lucía'

In [27]:
s[0:3]

0      Paquito
1      Pablito
2    Menganito
dtype: object

In [28]:
s[::-1]

4        Laura
3        Lucía
2    Menganito
1      Pablito
0      Paquito
dtype: object

Pero Pandas tiene peculiaridades cuando se maneja un índice que no es numérico.

In [29]:
indice = ['A', 'B', 'C', 'D', 'E']

In [30]:
s.index = indice

In [31]:
s

A      Paquito
B      Pablito
C    Menganito
D        Lucía
E        Laura
dtype: object

Pandas nos permite seleccionar entradas a partir de su etiqueta, o también a través de su posición en el índice.

In [32]:
s['E']

'Laura'

In [33]:
s[4]

'Laura'

Otra peculiaridad es cuando queremos seleccionar un conjunto de entradas a partir de una Serie con índice no numerico.

In [34]:
s[:'D']

A      Paquito
B      Pablito
C    Menganito
D        Lucía
dtype: object

In [35]:
s['B':'C']

B      Pablito
C    Menganito
dtype: object

Vemos que el segundo elemento después del operador dos puntos, es incluyente. A diferencia de Python nativo donde el segundo elemento es excluyente.

In [36]:
s[:3]

A      Paquito
B      Pablito
C    Menganito
dtype: object

In [37]:
s[1:2]

B    Pablito
dtype: object

Eso no sucede cuando usamos la posición en lugar de las etiquetas para seleccionar un conjunto de entradas.

### Seleccionadores de Pandas

Además de incorporar los seleccionadores nativos de Python. Pandas cuenta con dos seleccionadores más, usados para operaciones más complejas y regidos cada uno por distintos paradigmas de selección, estos son: **iloc** y **loc**. Estos dos seleccionadores son miembros del objeto Series, pues van después del operador punto.  
  
Veamos como seleccionar datos a través de ellos:

#### Selección de datos con iloc

iloc se rige por la selección de datos a través del índice y no por su etiqueta. Ya sea que índice sean enteros o números flotantes; iloc, seleccionará a través de la posición de cada entrada.

In [38]:
s = pd.Series(list(range(3, 31, 3)))

In [39]:
s.index = [i for i in range(2, 22, 2)]

In [40]:
s

2      3
4      6
6      9
8     12
10    15
12    18
14    21
16    24
18    27
20    30
dtype: int64

In [41]:
s.iloc[0]

3

In [42]:
s.iloc[6]

21

In [43]:
s.iloc[4:8]

10    15
12    18
14    21
16    24
dtype: int64

Con iloc el primer elemento en los corchetes es incluyente, y el segundo es excluyente.

#### Selección de datos con loc

loc se rige con el paradigma de selección de datos de etiquetas, es decir que con iloc seleccionaremos datos por su etiqueta y no por la posición a través del índice.

In [44]:
s

2      3
4      6
6      9
8     12
10    15
12    18
14    21
16    24
18    27
20    30
dtype: int64

Hagamos las mismas selecciones que hicimos con **iloc**, pero ahora con **loc**.

In [50]:
s.loc[2]

3

In [49]:
s.loc[14]

21

In [51]:
s.loc[10:16]

10    15
12    18
14    21
16    24
dtype: int64

**loc** a diferencia de **iloc** el segundo elemento dentro de los corchetes, es incluyente. En **iloc** como lo mencionamos anteriormente es excluyente. Ejemplo:

In [52]:
s = pd.Series([i for i in range(2, 21, 2)])

In [53]:
s

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

Seleccionemos los números del 6 al 14. Hagamoslo con iloc y loc.

In [54]:
s.iloc[2:7]

2     6
3     8
4    10
5    12
6    14
dtype: int64

In [55]:
s.loc[2:6]

2     6
3     8
4    10
5    12
6    14
dtype: int64